<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<AppIsSingleInstance>true</AppIsSingleInstance>
	<WindowLocation>
		<X>112</X>
		<Y>84</Y>
	</WindowLocation>
	<WindowSize>
		<Width>800</Width>
		<Height>600</Height>
	</WindowSize>
	<WindowState>Normal</WindowState>
	<MainWindowSelectedTabIndex>4</MainWindowSelectedTabIndex>
	<GameSetups>
		<GameSetup>
			<GameName>Vampire: Bloodlines</GameName>
			<GameEngine>Source</GameEngine>
			<GamePathFileName>E:\Bloodlines-Modding\SDKBinaries\GameCfg.ini</GamePathFileName>
			<GameAppPathFileName>E:\Bloodlines-Modding\Vampire.exe</GameAppPathFileName>
			<GameAppOptions>-game Unofficial_Patch</GameAppOptions>
			<CompilerPathFileName>E:\Bloodlines-Modding\SDKBinaries\StudioMDL.bat</CompilerPathFileName>
			<ViewerPathFileName>E:\Bloodlines-Modding\SDKBinaries\HLMV.exe</ViewerPathFileName>
			<MappingToolPathFileName>E:\Bloodlines-Modding\SDKBinaries\Hammer.exe</MappingToolPathFileName>
			<PackerPathFileName>E:\Bloodlines-Modding\SDKBinaries\BspZip.exe</PackerPathFileName>
		</GameSetup>
	</GameSetups>
	<SteamAppPathFileName>&lt; Unused for Bloodlines! &gt;</SteamAppPathFileName>
	<SteamLibraryPaths>
		<SteamLibraryPath>
			<Macro />
			<LibraryPath />
			<UseCount>7</UseCount>
		</SteamLibraryPath>
	</SteamLibraryPaths>
	<SetUpGamesGameSetupSelectedIndex>0</SetUpGamesGameSetupSelectedIndex>
	<DownloadItemIdOrLink>&lt; Unused for Bloodlines! &gt;</DownloadItemIdOrLink>
	<DownloadOutputFolderOption>WorkFolder</DownloadOutputFolderOption>
	<DownloadOutputWorkPath>E:\Bloodlines-Modding\SDKContent\</DownloadOutputWorkPath>
	<DownloadUseItemIdIsChecked>false</DownloadUseItemIdIsChecked>
	<DownloadPrependItemTitleIsChecked>false</DownloadPrependItemTitleIsChecked>
	<DownloadAppendItemUpdateDateTimeIsChecked>false</DownloadAppendItemUpdateDateTimeIsChecked>
	<DownloadReplaceSpacesWithUnderscoresIsChecked>false</DownloadReplaceSpacesWithUnderscoresIsChecked>
	<DownloadConvertToExpectedFileOrFolderCheckBoxIsChecked>true</DownloadConvertToExpectedFileOrFolderCheckBoxIsChecked>
	<UnpackPackagePathFolderOrFileName>E:\Bloodlines-Modding\Vampire</UnpackPackagePathFolderOrFileName>
	<UnpackOutputFolderOption>WorkFolder</UnpackOutputFolderOption>
	<UnpackOutputSamePath>E:\Bloodlines-Modding\Vampire</UnpackOutputSamePath>
	<UnpackOutputSubfolderName>Unpacked</UnpackOutputSubfolderName>
	<UnpackOutputFullPath>E:\Bloodlines-Modding\SDKContent\VpkContent</UnpackOutputFullPath>
	<UnpackGameSetupSelectedIndex>0</UnpackGameSetupSelectedIndex>
	<UnpackFolderForEachPackageIsChecked>false</UnpackFolderForEachPackageIsChecked>
	<UnpackLogFileIsChecked>false</UnpackLogFileIsChecked>
	<UnpackMode>Folder</UnpackMode>
	<PreviewMdlPathFileName>E:\Bloodlines-Modding\Unofficial_Patch\models\path\file.mdl</PreviewMdlPathFileName>
	<PreviewOverrideMdlVersion>DoNotOverride</PreviewOverrideMdlVersion>
	<PreviewGameSetupSelectedIndex>0</PreviewGameSetupSelectedIndex>
	<DecompileMdlPathFileName>E:\Bloodlines-Modding\Unofficial_Patch\models\path\file.mdl</DecompileMdlPathFileName>
	<DecompileOutputFolderOption>WorkFolder</DecompileOutputFolderOption>
	<DecompileOutputSubfolderName>Decompiled</DecompileOutputSubfolderName>
	<DecompileOutputFullPath>E:\Bloodlines-Modding\SDKContent\ModelSrc</DecompileOutputFullPath>
	<DecompileQcFileIsChecked>true</DecompileQcFileIsChecked>
	<DecompileGroupIntoQciFilesIsChecked>false</DecompileGroupIntoQciFilesIsChecked>
	<DecompileQcSkinFamilyOnSingleLineIsChecked>true</DecompileQcSkinFamilyOnSingleLineIsChecked>
	<DecompileQcOnlyChangedMaterialsInTextureGroupLinesIsChecked>true</DecompileQcOnlyChangedMaterialsInTextureGroupLinesIsChecked>
	<DecompileQcIncludeDefineBoneLinesIsChecked>true</DecompileQcIncludeDefineBoneLinesIsChecked>
	<DecompileQcUseMixedCaseForKeywordsIsChecked>true</DecompileQcUseMixedCaseForKeywordsIsChecked>
	<DecompileReferenceMeshSmdFileIsChecked>true</DecompileReferenceMeshSmdFileIsChecked>
	<DecompileBoneAnimationSmdFilesIsChecked>true</DecompileBoneAnimationSmdFilesIsChecked>
	<DecompileBoneAnimationPlaceInSubfolderIsChecked>true</DecompileBoneAnimationPlaceInSubfolderIsChecked>
	<DecompileTextureBmpFilesIsChecked>true</DecompileTextureBmpFilesIsChecked>
	<DecompileLodMeshSmdFilesIsChecked>true</DecompileLodMeshSmdFilesIsChecked>
	<DecompilePhysicsMeshSmdFileIsChecked>true</DecompilePhysicsMeshSmdFileIsChecked>
	<DecompileVertexAnimationVtaFileIsChecked>true</DecompileVertexAnimationVtaFileIsChecked>
	<DecompileProceduralBonesVrdFileIsChecked>true</DecompileProceduralBonesVrdFileIsChecked>
	<DecompileFolderForEachModelIsChecked>true</DecompileFolderForEachModelIsChecked>
	<DecompilePrefixFileNamesWithModelNameIsChecked>true</DecompilePrefixFileNamesWithModelNameIsChecked>
	<DecompileStricterFormatIsChecked>true</DecompileStricterFormatIsChecked>
	<DecompileLogFileIsChecked>false</DecompileLogFileIsChecked>
	<DecompileDebugInfoFilesIsChecked>false</DecompileDebugInfoFilesIsChecked>
	<DecompileDeclareSequenceQciFileIsChecked>false</DecompileDeclareSequenceQciFileIsChecked>
	<DecompileRemovePathFromSmdMaterialFileNamesIsChecked>true</DecompileRemovePathFromSmdMaterialFileNamesIsChecked>
	<DecompileUseNonValveUvConversionIsChecked>false</DecompileUseNonValveUvConversionIsChecked>
	<DecompileOverrideMdlVersion>DoNotOverride</DecompileOverrideMdlVersion>
	<DecompileMode>File</DecompileMode>
	<CompileQcPathFileName>E:\Bloodlines-Modding\SDKContent\ModelSrc\MyMode\file.qc</CompileQcPathFileName>
	<CompileOutputFolderOption>WorkFolder</CompileOutputFolderOption>
	<CompileOutputSubfolderName>Compiled</CompileOutputSubfolderName>
	<CompileOutputFullPath>E:\Bloodlines-Modding\Unofficial_Patch</CompileOutputFullPath>
	<CompileGameSetupSelectedIndex>0</CompileGameSetupSelectedIndex>
	<CompileGoldSourceLogFileIsChecked>false</CompileGoldSourceLogFileIsChecked>
	<CompileSourceLogFileIsChecked>false</CompileSourceLogFileIsChecked>
	<CompileOptionDefineBonesIsChecked>false</CompileOptionDefineBonesIsChecked>
	<CompileOptionDefineBonesCreateFileIsChecked>false</CompileOptionDefineBonesCreateFileIsChecked>
	<CompileOptionDefineBonesQciFileName>DefineBones</CompileOptionDefineBonesQciFileName>
	<CompileOptionDefineBonesModifyQcFileIsChecked>false</CompileOptionDefineBonesModifyQcFileIsChecked>
	<CompileOptionNoP4IsChecked>false</CompileOptionNoP4IsChecked>
	<CompileOptionVerboseIsChecked>false</CompileOptionVerboseIsChecked>
	<CompileMode>File</CompileMode>
	<PatchMdlPathFileName />
	<PatchMode>File</PatchMode>
	<ViewMdlPathFileName>E:\Bloodlines-Modding\Unofficial_Patch\models\path\file.mdl</ViewMdlPathFileName>
	<ViewOverrideMdlVersion>DoNotOverride</ViewOverrideMdlVersion>
	<ViewGameSetupSelectedIndex>0</ViewGameSetupSelectedIndex>
	<PackMode>Folder</PackMode>
	<PackInputPath />
	<PackOutputFolderOption>ParentFolder</PackOutputFolderOption>
	<PackOutputParentPath />
	<PackOutputPath>E:\Bloodlines-Modding\Unofficial_Patch</PackOutputPath>
	<PackGameSetupSelectedIndex>0</PackGameSetupSelectedIndex>
	<PackLogFileIsChecked>false</PackLogFileIsChecked>
	<PackOptionMultiFileVpkIsChecked>false</PackOptionMultiFileVpkIsChecked>
	<PublishGameSelectedIndex>0</PublishGameSelectedIndex>
	<PublishSteamAppUserInfos>
		<SteamAppUserInfo>
			<AppID>362890</AppID>
			<DraftTemplateAndChangedItems>
				<WorkshopItem>
					<CreatorAppID>0</CreatorAppID>
					<ID>&lt;draft&gt;</ID>
					<OwnerID>0</OwnerID>
					<OwnerName />
					<Posted>1580152163</Posted>
					<Updated>1580163950</Updated>
					<Title>&lt; Unused for Bloodlines! &gt;</Title>
					<TitleIsChanged>true</TitleIsChanged>
					<Description>&lt; Unused for Bloodlines! &gt;</Description>
					<DescriptionIsChanged>true</DescriptionIsChanged>
					<ChangeNote>&lt; Unused for Bloodlines! &gt;</ChangeNote>
					<ChangeNoteIsChanged>true</ChangeNoteIsChanged>
					<ContentSize>0</ContentSize>
					<ContentPathFolderOrFileName>&lt; Unused for Bloodlines! &gt;</ContentPathFolderOrFileName>
					<ContentPathFolderOrFileNameIsChanged>true</ContentPathFolderOrFileNameIsChanged>
					<PreviewImageSize>0</PreviewImageSize>
					<PreviewImagePathFileName>&lt; Unused for Bloodlines! &gt;</PreviewImagePathFileName>
					<PreviewImagePathFileNameIsChanged>true</PreviewImagePathFileNameIsChanged>
					<Visibility>Private</Visibility>
					<VisibilityIsChanged>false</VisibilityIsChanged>
					<Tags />
					<TagsIsChanged>false</TagsIsChanged>
				</WorkshopItem>
			</DraftTemplateAndChangedItems>
		</SteamAppUserInfo>
	</PublishSteamAppUserInfos>
	<PublishSearchField>ID</PublishSearchField>
	<PublishSearchText>&lt; Unused! &gt;</PublishSearchText>
	<OptionsAutoOpenVpkFileIsChecked>true</OptionsAutoOpenVpkFileIsChecked>
	<OptionsAutoOpenVpkFileOption>Unpack</OptionsAutoOpenVpkFileOption>
	<OptionsAutoOpenGmaFileIsChecked>false</OptionsAutoOpenGmaFileIsChecked>
	<OptionsAutoOpenGmaFileOption>Unpack</OptionsAutoOpenGmaFileOption>
	<OptionsAutoOpenFpxFileIsChecked>false</OptionsAutoOpenFpxFileIsChecked>
	<OptionsAutoOpenMdlFileIsChecked>false</OptionsAutoOpenMdlFileIsChecked>
	<OptionsAutoOpenMdlFileForPreviewIsChecked>false</OptionsAutoOpenMdlFileForPreviewIsChecked>
	<OptionsAutoOpenMdlFileForDecompileIsChecked>true</OptionsAutoOpenMdlFileForDecompileIsChecked>
	<OptionsAutoOpenMdlFileForViewIsChecked>false</OptionsAutoOpenMdlFileForViewIsChecked>
	<OptionsAutoOpenMdlFileOption>Decompile</OptionsAutoOpenMdlFileOption>
	<OptionsAutoOpenQcFileIsChecked>true</OptionsAutoOpenQcFileIsChecked>
	<OptionsAutoOpenFolderOption>Decompile</OptionsAutoOpenFolderOption>
	<OptionsDragAndDropVpkFileOption>Unpack</OptionsDragAndDropVpkFileOption>
	<OptionsDragAndDropGmaFileOption>Unpack</OptionsDragAndDropGmaFileOption>
	<OptionsDragAndDropMdlFileForPreviewIsChecked>false</OptionsDragAndDropMdlFileForPreviewIsChecked>
	<OptionsDragAndDropMdlFileForDecompileIsChecked>true</OptionsDragAndDropMdlFileForDecompileIsChecked>
	<OptionsDragAndDropMdlFileForViewIsChecked>false</OptionsDragAndDropMdlFileForViewIsChecked>
	<OptionsDragAndDropMdlFileOption>Decompile</OptionsDragAndDropMdlFileOption>
	<OptionsDragAndDropFolderOption>Decompile</OptionsDragAndDropFolderOption>
	<OptionsContextMenuIntegrateMenuItemsIsChecked>true</OptionsContextMenuIntegrateMenuItemsIsChecked>
	<OptionsContextMenuIntegrateSubMenuIsChecked>true</OptionsContextMenuIntegrateSubMenuIsChecked>
	<OptionsOpenWithCrowbarIsChecked>true</OptionsOpenWithCrowbarIsChecked>
	<OptionsViewMdlFileIsChecked>true</OptionsViewMdlFileIsChecked>
	<OptionsDecompileMdlFileIsChecked>true</OptionsDecompileMdlFileIsChecked>
	<OptionsDecompileFolderIsChecked>true</OptionsDecompileFolderIsChecked>
	<OptionsDecompileFolderAndSubfoldersIsChecked>true</OptionsDecompileFolderAndSubfoldersIsChecked>
	<OptionsCompileQcFileIsChecked>true</OptionsCompileQcFileIsChecked>
	<OptionsCompileFolderIsChecked>true</OptionsCompileFolderIsChecked>
	<OptionsCompileFolderAndSubfoldersIsChecked>true</OptionsCompileFolderAndSubfoldersIsChecked>
	<UpdateDownloadPath>E:\Bloodlines-Modding\SDKBinaries\tools\Crowbar\update</UpdateDownloadPath>
	<UpdateUpdateToNewPathIsChecked>false</UpdateUpdateToNewPathIsChecked>
	<UpdateUpdateDownloadPath>E:\Bloodlines-Modding\SDKBinaries\tools\Crowbar\update</UpdateUpdateDownloadPath>
	<UpdateCopySettingsIsChecked>true</UpdateCopySettingsIsChecked>
</AppSettings>
